*{
    font-family: 'Shadows Into Light', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --primary:#40c057;
    --secondary:#1971c2
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100vh;
}
.heading{
    font-size: 7rem;
    letter-spacing: 6px;
    text-align: center;
    color: var(--primary);
}
.label_name{
    font-size: 2rem;
    color: var(--secondary);
    font-weight: bold;
    letter-spacing: 2px;
}
#name{
    width: 25vw;
    padding: 8px 32px;
    border: 2px solid var(--secondary);
    border-radius: 10px;
    background: url('./images/user.png');
    background-position: 4px;
    background-repeat: no-repeat;
    background-size: 20px;
    font-size: large;
    color: var(--secondary);
    letter-spacing: 1.5px;
}
#name::placeholder{
    font-size: large;
    letter-spacing: 1.5px;
}
.enter_button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
#enter{
    cursor: pointer;
    width: 10vw;
    padding: 10px;
    border-radius: 8px;
    border: 0;
    background-color: var(--primary);
    font-size: larger;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: white;
    transform: scale(1);
    transition: all 0.4s ease-out;
}
#enter:active{
    transform: scale(0.95);
}


/* chat Container  */

.chat_container{
    width: 70vw;
    border: 1px solid gray;
    height: 90vh;
    overflow-y: auto;
    border-radius: 10px;
    background: linear-gradient(45deg,var(--secondary),var(--primary));
    position: relative;
}
.chat_container>*{
    margin: 20px;
}
.chats{
    height: 85%;
    /* margin-bottom: 0px; */
}
.user_name{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    letter-spacing: 1.2px;
    text-transform: capitalize;
}
.user_msg{
    background-color: #e9ecef;
    padding: 5px 8px;
    border-radius: 5px;
    letter-spacing: 2px;
    text-align: left;
}
.left{
    float: left;
    clear: both;
    margin-bottom: 12px;
    max-width: 35vw;

}
.right{
    text-align: right;
    float: right;
    clear: both;
    margin-bottom: 12px;
    max-width: 35vw;
}
.form_msg{
    position: sticky;
    bottom: 20px;
    /* width: 68vw;
    bottom: 0; */
}
.input_msg{
    width: 89%;
    height: 5.6vh;
    border-radius: 8px;
    border: 0;
    padding: 0 16px;
    font-size: large;
    letter-spacing: 1.5px;

}
.input_msg::placeholder{
    letter-spacing: 1.5px;
    font-size: large;
}
.send{
    width: 10%;
    height: 5.6vh;
    background-color: var(--secondary);
    color: white;
    font-size: large;
    font-weight: bolder;
    letter-spacing: 2px;
    border: 0;
    border-radius: 8px;
}